{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="text-center col-sm-12">
                <h1 style="color: white">{{ title }}</h1>
                <div class="col-sm-4 col-sm-offset-4">
                    <form method="POST" action=".">
                        {% csrf_token %}
                        <!--<input name='url' type="text" placeholder="Encurte sua URL"/>-->
                        {{ form.as_p }}
                        <input class='btn btn-primary' type="submit" value="Encurtar">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}