<!DOCTYPE HTML>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <title>Kirr.co | {% block title %} Encurte sua URL aqui {% endblock title %} </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
<div class="tag">
    {% block content %}
    {% endblock content %}
</div>
<img src="https://static.pexels.com/photos/1029/landscape-mountains-nature-clouds.jpg"
     style="width:100%; filter:brightness(35%);"/>
</body>
</html>
<style>
    .tag {
        float: left;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 1000;
        padding: 5px;
    }

    .container {
        position: relative;
        transform: translateX(30%) translateY(200%);
        color: white;
    }

    .link{
        color: #FFFFFF;
    }
    .link:hover{
        color: #FFFFFF;
    }
</style>